.header{
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    padding: 1px;
    margin: 0;
    position:sticky;
    top:0;
}
img input .header{
    background: white
}
.logo{
    width: 80px;
}
.headerinput{
    padding: 15px;
    width: 30%;
    margin: 15px;
    margin-left: 40%;
    position: absolute;
    font-size: 18px;
    outline: none;
}
